# Dépendances
node_modules/

# Build
build/
dist/

# Tests
coverage/

# Variables d'environnement
.env*
!.env.example

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.eslintcache
.stylelintcache
*.tsbuildinfo
.vite/
.cache/

# Divers
*.local


